<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <title th:text="${annos.nimi}">Drinkin nimi</title>
    <meta charset="utf-8" />
  </head>

  <body>
    <section>
    <h2 th:text="${annos.nimi}">Drinkin nimi</h2>
    <ul>
      <li th:each="a : ${aineet}">
        <span th:text="${a}">toString-esitys</span>
      </li>
    </ul>
    </section>

    <section>
        
    </section>
  </body>
</html>