<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Drinkit</title>
    <meta charset="utf-8" />
  </head>

  <body>
    <section>
    <h2>Drinkit</h2>

    <ul>
      <li th:each="a : ${annokset}">
        <form th:action="@{~/poista/{id}(id=${a.id})}" method="post">
          <a th:href="@{~/annokset/{id}(id=${a.id})}">
            <span th:text="${a.nimi}">Drinkki</span>
          </a>
          <input type="submit" value="Poista"/>
        </form>
      </li>
    </ul>
    </section>

    <section>
    <h2>Lisää uusi drinkki</h2>

    <form method="POST" action="/annokset">
      <input type="text" name="nimi"/><br/>
      <input type="submit" value="Lisää"/>
    </form>
    </section>
  </body>
</html>